{% extends "layout.html" %}

{% block title %}
    history
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Transaction Type</th>
                <th class="text-end">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transact in trans}
            <tr>
                <td class="text-start">{{ transact.type }}</td>
                <td class="text-start">{{ transact.symbol }}</td>
                <td class="text-start">{{ transact.shares }}</td>
                <td class="text-start">{{ transact.price | usd}}</td>
                <td class="text-start">{{ transact.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}